$icon1_font_family = "my-icon-set";
$icon1_value = "\e0000";
$icon1 = "my-icon-set" "\e0000";
$icon2_font_family = "my-icon-set";
$icon2_value = "\e0001";
$icon2 = "my-icon-set" "\e0001";
$icon3_font_family = "my-icon-set";
$icon3_value = "\e0002";
$icon3 = "my-icon-set" "\e0002";

iconFontFamily($char) {
  font-family: $char[0];
}

iconFont() {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

iconContent($char) {
  content: $char[1];
}

icon($char) {
  iconFontFamily($char)
  iconFont()

  &:before {
    iconContent($char)
  }
}

@font-face {
  font-family: "my-icon-set";
  src:url("abc/123/font.eot");
  src:url("abc/123/font.eot?#iefix") format("embedded-opentype"),
    url("abc/123/font.woff") format("woff"),
    url("abc/123/font.ttf") format("truetype"),
    url("abc/123/font.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
